Package: com.jontelang.cabinetpluginapplist
Name: CabinetPluginAppList
Depends: com.jontelang.cabinet
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Cabinet plugin!
Maintainer: Jonathan Winger-lang
Author: Jonathan Winger-lang
Section: Tweaks
