Package: com.jontelang.cabinetpluginapplist
Name: CabinetPluginAppList
Depends: com.jontelang.cabinet
Architecture: iphoneos-arm
Description: An awesome Cabinet plugin!
Maintainer: Jonathan Winger-lang
Author: Jonathan Winger-lang
Section: Tweaks
Version: 0.0.1-6+debug
Installed-Size: 204
